Source: libsecutils
Section: libs
Priority: optional
Maintainer: Benjamin Schilling <Schilling.Benjamin@siemens.com>
Build-Depends: debhelper-compat (= 13),cmake, libssl-dev,git, devscripts
Homepage: https://github.com/siemens/libsecutils
Standards-Version: 4.7.2

Package: libsecutils2
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Multi-Arch: same
Built-Using: ${Built-Using}
Suggests: libuta
Description: OpenSSL enhancement wrapper library
 OpenSSL wrapper library simplifying use of commonly needed functionality
 With extended support for certficate status checking using CRLs and/or OCSP

Package: libsecutils-dev
Depends: libsecutils2 (= ${binary:Version}), ${misc:Depends}
Suggests: libssl-dev, libuta-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Built-Using: ${Built-Using}
Description: libsecutils C headers and documentation
 Development support for libsecutils

Package: libsecutils-bin
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: utils
Architecture: any
Built-Using: ${Built-Using}
Description: libsecutils helper binaries
 Stand-alone helper CLI applications using libsecutils
