#!/usr/bin/make -f

# rules for Debian packaging of libsecutils
#
# Copyright (c) Siemens Mobility GmbH, 2021
#
# Authors:
#  David von Oheimb <David.von.Oheimb@siemens.com>
#
# This work is licensed under the terms of the Apache Software License 2.0.  See
# the COPYING file in the top-level directory.
#
# SPDX-License-Identifier: Apache-2.0
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export LIBDIR=usr/lib/${DEB_HOST_MULTIARCH}

include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/pkg-info.mk


%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DSECURITY_UTILITIES_USE_ICV=ON -DDEBIAN_BUILD=ON
